jupyter-book
matplotlib
ghp-import
numpy>=1.16.4,<1.19.0
scipy>=1.1.0,<2
scikit-image>=0.14.1,<=0.16.2
scikit-learn>=0.19.1,<1
pandas
imageio
biopython
tensorflow
tensorflow-addons
sphinxcontrib-lastupdate